*.iml
.gradle
*.classpath
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
/.settings
.DS_Store
/build
/captures
.externalNativeBuild
.project
local.properties
.idea/vcs.xml
app/app.iml
app/.settings
app/.settings/*.prefs
app/.classpath
*.log
